<div ng-include="'partials/navbar.html'"></div>

  <h1>Calculate your Insulin!</h1>

<!--food search -->
      <div class="input-group">
        <span class="input-group-btn">
        </span>
        <h2>Search your food!!</h2>
        <input type="text" class="form-control" placeholder="Search for..." ng-model="search"/><button class="btn btn-default" ng-click="searchFood()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>

<div ng-repeat="food in foodArr">
<span ng-show="$index === item">
<!-- food information -->
	<div>
		<h3>Item Name: {{food.fields.item_name}}</h3>
		<h4>Serving Per Unit: {{food.fields.nf_serving_size_unit}}</h4>
		<h4>Total Number of Carbohydrates: {{food.fields.nf_total_carbohydrate}}</h4>
	</div>
<!-- amount!-->
	<div>
		<h2>How much did you eat?</h2>
		<button class="btn btn-default" ng-click="selectAmountQuarter()">1/4</button>
		<button class="btn btn-default" ng-click="selectAmountHalf()">1/2</button>
		<button class="btn btn-default" ng-click="selectAmountWhole()">whole</button>
	</div>
</span>
</div>

<!-- meal -->
<div>
	<h2>Select your meal!</h2>
	<button class="btn btn-default" ng-click="breakfast()">Breakfast</button>
	<button class="btn btn-default" ng-click="lunch()">Lunch</button>
	<button class="btn btn-default" ng-click="snack()">Snack</button>
	<button class="btn btn-default" ng-click="dinner()">Dinner</button>
</div>
<!-- calculate button -->
<div>
	<!-- <button class="btn btn-default" ng-click="calculate()">Caculate!!</button> -->
</div>

</div>