<div ng-include="'partials/navbar.html'"></div>

<h1>Your INSI Profile</h1> 

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-md-6"></div>
	Name: {{userProfile.firstName}} {{userProfile.lastName}}
	Age: {{userProfile.age}}
  <div class="col-md-6"></div>
	Weight: {{userProfile.weight}}
	Height: {{userProfile.height}}
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-md-6"></div>
		<h4>How much insulin do you need?</h4>
  <div class="col-md-6"></div>
		Breakfast Insulin: 1: {{userProfile.breakfast}}
		Lunch Insulin: 1: {{userProfile.lunch}}
  <div class="col-md-6"></div>
		Snack Insulin: 1:  {{userProfile.snack}}
		Dinner Insulin: 1: {{userProfile.dinner}}
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-md-6"></div>
			<h4>Emergency Contact Information</h4>
  <div class="col-md-6"></div>
			Name: {{userProfile.ecName}}
			Relationship: {{userProfile.ecRelationship}}
			Phone: {{userProfile.ecPhone}}
</div>